<div class="row">
<div class="col-xs-11">
	<h3><%= project.get('name') %></h3>
</div>
<div class="col-xs-1">
	<br><br><br>
	<% if (ClairePortfolio.login_status == true) { %>
		<a href="#" id="newPhotoLink">New Photo</a>
	<% } %>
</div>
</div>



<div class="row" id="photoList">
<% project.get('photos').each(function(photo){ %>
	<div class="col-xs-4">
		<div class="photoLi" data-id="<%= photo.id %>">
			<div class="imageHolder">
			<img src="<%= photo.get("img_url") %>" class="photoImage">
			</div>
			<div class="imageTitle">
			<%= photo.get('name') %>
				<% if (ClairePortfolio.login_status == true) { %>
				<a href="#" class="deletePhoto" data-id="<%= photo.id %>">delete</a>
				<% } %>
			</div>
		</div>
	</div>
<% }); %>
</div>

<div class="modal fade" id="photo-modal">
<div class="modal-dialog">
<div class="modal-content">



</div>
</div>
</div>